.add-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}

.form-card {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-card h2 {
  margin-bottom: 5px;
}

.form-card input,
.form-card select,
.form-card textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

.form-card button {
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}